<a href="https://colab.research.google.com/github/03151238060/wajahat-ahmed/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
x=input('enter any string')
y=list(x)
for i in range(len(y)):
  if y[i] in ['a','e','i','o','u']:
    print(i+1,'postion has vowel',y[i])

enter any stringavieowpu
1 postion has vowel a
3 postion has vowel i
4 postion has vowel e
5 postion has vowel o
8 postion has vowel u

In [0]:
x=input('enter any string')
y=0
for i in range(len(x)):
  if x[i] in 'aeiou':
    y=y+1
print('The number of vowels in it are',y)

enter any stringavieowpu
The number of vowels in it are 5

In [0]:
x=input('enter string').casefold()
y=list(x)
for i in range(len(y)):
    if y[i] in 'aeiou':
        print(i,'position has vowel',y[i])

enter stringwajahtwoiucf
1 position has vowel a
3 position has vowel a
7 position has vowel o
8 position has vowel i
9 position has vowel u

In [0]:
sum=0
avg=0
for i in range(0,5):
  x=int(input('enter your marks'))
  sum+=x
avg=sum/5
print('your average is',avg)

enter your marks89
enter your marks79
enter your marks90
enter your marks98
enter your marks67
your average is 84.6

In [0]:
table=int(input('enter any number to calculate its table'))
rang=int(input('How many times do you want to calculate table'))
for i in range(1,rang+1):
  print(table,'*',i,'=',table*i)

enter any number to calculate its table5
How many times do you want to calculate table10
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [0]:
import datetime
x=datetime.datetime.now()
year=x.strftime("%y")
print("year is",year)
month=x.strftime("%m")
print("month is",month)
day=x.strftime("%d")
print("day is",day)
mydate=x.strftime("%d-%m-%y")
print("CURRENT DATE IS",mydate)
mytime=x.strftime("%H:%M:%S")
print("CURRENT TIME IS",mytime)

year is 19
month is 12
day is 27
CURRENT DATE IS 27-12-19
CURRENT TIME IS 07:32:40

In [0]:
marks=float(input('enter your marks'))
if marks>=80 and marks<100:
  print('you have obtained grade A+')
elif marks>=70 and marks<80:
  print('you have obtained grade A')
elif marks>=60 and marks<70:
  print('you have obtained grade B')
elif marks>=50 and marks<60:
  print('you have obtained grade c')
elif marks>=40 and marks<50:
  print('you have obtained grade D')
elif marks>=33 and marks<40:
  print('you have obtained grade E')
else:
  print('your grade is too low to mention')

enter your marks89
you have obtained grade A+

In [0]:
from math import*
r=float(input("enter radius of a circle"))
area=pi*r**2
c1=2*pi*r
print("THE AREA OF CIRCLE WITH RADIUS",r,"is",round(area,2))
print("and circumference is ",round(c1,2))

enter radius of a circle4.5
THE AREA OF CIRCLE WITH RADIUS 4.5 is 63.62
and circumference is  28.27

In [0]:
age=int(input("enter your age"))
ryears=65-age
if(age<65 and age>0):
    print("you have",ryears,"left in your retirement")
else:
    print("invalid age")

enter your age18
you have 47 left in your retirement

In [0]:
no=int(input("enter the number to check"))
if(no%2==0):
    print("the number is even")
else:
    print("the number is odd")

enter the number to check45
the number is odd

In [2]:
import random
no=int(input("how many no.s you need"))
for i in range(no):
    num=random.randint(100,500)
    print(num,end="\t")

how many no.s you need4
140	341	446	223

In [3]:
from math import *
def table(tno,rang):
    for i in range (1,rang+1):
        c=tno*i
        print(tno,"*",i,"=",c)
s=int(input('enter the no for table'))
a=int(input('enter the no for table'))
table(s,a)

enter the no for table3
enter the no for table10
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [4]:
from math import *
def fact(j):
    fact=1
    for k in range(1,j+1):
        fact=fact*k
    return fact
r1=int(input("enter the number to calculate its factorial "))
r2=fact(r1)
print ("the factorial of ",r1,"is",r2)

enter the number to calculate its factorial 6
the factorial of  6 is 720

In [5]:
x=input("enter any alphabet")
if(x=="a" or x=="e"or x=="i" or x=="o" or x=="u"):
    print(x,"is a vowel")
else:
    print(x,"is a consonant")

enter any alphabeta
a is a vowel

In [6]:
fno=int(input("enter any number to calculate"))
fact=1
if(fno<0):
    print("invalid input ")
elif(fno==0 or fno==1):
    print("the factorial of ",fno,"is 1")
else:
    for i in range(1,fno+1):
        fact=fact*i
    print("the factorial of ",fno,"is",fact)

enter any number to calculate4
the factorial of  4 is 24

In [7]:
    x = 54 - 45 - 98 - 97 - 56 - 97
    print(abs(x))

339

In [8]:
from math import *
def calarea(radius):
    area =pi*radius**2
    print("the area of circle is",area)

def calcarea(radius):
    area = pi * radius ** 2
    return area

r = float(input("enter the radius"))
r1 = calcarea(r)
r2 = round(r1, 2)
print("the area of circle is", r2)

enter the radius32
the area of circle is 3216.99

In [9]:
from math import *
no=int(input("enter no."))
print("the factorial of ",no,"is",factorial(no))

enter no.5
the factorial of  5 is 120

In [10]:
for i in range(1,10):
    print(i,"!\t=\t",factorial(i))

1 !	=	 1
2 !	=	 2
3 !	=	 6
4 !	=	 24
5 !	=	 120
6 !	=	 720
7 !	=	 5040
8 !	=	 40320
9 !	=	 362880

In [15]:
l1=[]
for i in range(1,9):
    l=l1.append(int(input("enter the value")))
def fun1(l):
    as_order=[]
    while l1:
        less=l1[0]
        for i in l1:
            if(i<less):
                less=i
        as_order.append(less)
        l1.remove(less)
    return as_order
print("The original list was",l1)
print("The sorted list is",fun1(l))

enter the value2
enter the value3
enter the value5
enter the value1
enter the value7
enter the value9
enter the value8
enter the value3
The original list was [2, 3, 5, 1, 7, 9, 8, 3]
The sorted list is [1, 2, 3, 3, 5, 7, 8, 9]

In [16]:
from math import *
def area (r,h):
    area=(2*pi*r*h)+(2*pi*r**2)
    return area
def volume(r,h):
    volume=pi*(r**2)*h
    return volume
r=float(input("enter radius of cylinder in cm"))
h=float(input("enter height of cylinder in cm"))
r1=area(r,h)
v1=volume(r,h)
print("the area of cylinder is",round(r1,2),"cm**3")
print("the volume of cylinder is",round(v1,2),"cm**3")

enter radius of cylinder in cm3
enter height of cylinder in cm6
the area of cylinder is 169.65 cm**3
the volume of cylinder is 169.65 cm**3

In [17]:
x = input("enter anything").casefold()
def func1():
    y=reversed(x)
    return y
if list(x)==list(func1()):
    print("yes your input is a palindrome")
else:
    print("sorry it is not a palindrome")

enter anythingmaham
yes your input is a palindrome

In [18]:
l1=[2,5,62,8,7]
l2=[]
x=len(l1)
def func1():
    for i in range(0,x):
        a=min(l1)
        l2.append(a)
        l1.remove(a)
    print("the original list becomes",l1)
    print("the list after sorting is",l2)
func1()

the original list becomes []
the list after sorting is [2, 5, 7, 8, 62]